<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">
	<resultMap id="joinMap" type="User">
		<id column="id" property="id" />
		<result column="login_id" property="loginId" />
		<result column="login_pass" property="loginPass" />
		<result column="name" property="name" />
		<collection property="roles" ofType="String"
			javaType="list">
			<result column="role" />
		</collection>
	</resultMap>

	<select id="selectByLoginId" parameterType="String"
		resultMap="joinMap">
		SELECT
		users.id
		,users.login_id
		,users.login_pass
		,users.name
		,roles.name AS role
		FROM users
		JOIN users_roles
		ON users.id =
		users_roles.user_id
		JOIN roles
		ON users_roles.role_id = roles.id
		WHERE
		login_id = #{loginId}
	</select>

	<resultMap id="Map" type="Schedule">
		<id column="id" property="id"/>
		<result column="day_of_week" property="dayOfWeek"/>
		<result column="type" property="garbage"/>
		<association property="nonBurnableWaste">
		 <result column="week1" property="week1"/>
		 <result column="week2" property="week2"/>
		 <result column="dow" property="dayOfWeek"/>
		</association>
	</resultMap>

	<select id="showSchedule" parameterType="int" resultMap="Map">
		SELECT
		 schedules.id AS id
		 ,schedules.day_of_week
		 ,garbages.type
		 ,week1
		 ,week2
		 ,non_burnable_waste.day_of_week AS dow
		FROM
		 users
		JOIN
		 schedules 
		ON users.id = schedules.user_id
		JOIN
		 garbages 
		ON schedules.garbage_id = garbages.id
		JOIN
		 non_burnable_waste
		ON users.id = non_burnable_waste.user_id
		WHERE
		 users.id = #{id}
		ORDER BY day_of_week ASC
	</select>
	
	<insert id="insertSchedule">
		INSERT INTO 
		 schedules 
		VALUES(null,#{},#{},#{})
	</insert>

	
	
	
	
	
</mapper>