<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">
	<resultMap id="joinMap" type="User">
		<id column="id" property="id" />
		<result column="login_id" property="loginId" />
		<result column="login_pass" property="loginPass" />
		<result column="name" property="name" />
		<collection property="roles" ofType="String"
			javaType="list">
			<result column="role" />
		</collection>
	</resultMap>

	<select id="selectByLoginId" parameterType="String"
		resultMap="joinMap">
		SELECT
		users.id
		,users.login_id
		,users.login_pass
		,users.name
		,roles.name AS role
		FROM users
		JOIN users_roles
		ON users.id =
		users_roles.user_id
		JOIN roles
		ON users_roles.role_id = roles.id
		WHERE
		login_id = #{loginId}
	</select>

	<resultMap id="Map" type="Schedule">
		<id column="id" property="id" />
		<result column="type" property="garbage.type" />
		<association property="nonBurnableWaste">
			<result column="dow" property="dayOfWeek" />
			<collection property="weeks" ofType="Integer"
				javaType="list">
				<result column="week" />
			</collection>
		</association>
		<collection property="dayOfWeek" ofType="Integer"
			javaType="list">
			<result column="day_of_week" />
		</collection>
	</resultMap>

	<select id="showSchedule" parameterType="int" resultMap="Map">
		SELECT
		schedules.id AS id
		,schedules.day_of_week
		,garbages.type
		,week
		,non_burnable_waste.day_of_week AS dow
		FROM
		schedules
		LEFT JOIN
		garbages
		ON schedules.garbage_id = garbages.id
		LEFT JOIN
		non_burnable_waste
		ON
		non_burnable_waste.user_id = schedules.user_id
		WHERE
		schedules.user_id =
		#{id}
	</select>

	<resultMap id="garbages" type="Garbage" autoMapping="true">
		<id column="id" property="id" />
	</resultMap>

	<select id="selectGarbages" resultMap="garbages">
		SELECT * FROM garbages
		ORDER BY id;
	</select>

	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO schedules
		(user_id,day_of_week,garbage_id) VALUES
		<foreach collection="dayOfWeek" item="d" separator=",">
			(#{userId},#{d},#{garbage.id})
		</foreach>
	</insert>

	<insert id="insertGarbageId" parameterType="Integer">
		INSERT INTO schedules
		(garbage_id) VALUES(#{garbage.id});
	</insert>

	<insert id="registUser" parameterType="User"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users
		VALUES(NULL,#{loginId},#{loginPass},#{name})
	</insert>

	<insert id="insertRole" parameterType="Integer">
		INSERT INTO users_roles
		(user_id,role_id) VALUES(#{userId},1)
	</insert>

	<insert id="insertNonBurnable">
		INSERT INTO non_burnable_waste (user_id,week,day_of_week) VALUES
		<foreach collection="weeks" item="week" separator=",">
			(#{userId},#{week},#{youbi})
		</foreach>
	</insert>

	<delete id="deleteSchedule">
		DELETE FROM schedules WHERE
		<foreach collection="youbi" item="y" separator="OR">
			(user_id =
			#{userId} AND garbage_id = #{garbage} AND day_of_week = #{y})
		</foreach>
	</delete>

	<delete id="deleteNonBurnable">
		DELETE FROM non_burnable_waste WHERE
		<foreach collection="weeks" item="week" separator="OR">
			(user_id =
			#{userId} AND week = #{week} AND day_of_week = #{youbi})
		</foreach>
	</delete>

	<delete id="deleteNonBurnableNoCheck">
		DELETE FROM non_burnable_waste WHERE user_id = #{userId}
	</delete>
	
	<delete id="deleteAll">
		DELETE schedules,non_burnable_waste FROM schedules LEFT JOIN non_burnable_waste
		ON schedules.user_id = non_burnable_waste.user_id WHERE
		schedules.user_id = #{1};
	</delete>


</mapper>