<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>User page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1>User page</h1>
		<p class="alert alert-success" th:if="${msg}" th:text="${msg}"></p>
		<p>
			<span sec:authentication="principal.name"></span>さん
			<th:block th:if="${todayGarbage}" th:text="|、${todayGarbage}|">
			</th:block>
			<th:block th:unless="${todayGarbage}">
			 ゴミ出しカレンダーは未登録です
			</th:block>
		</p>
		<form class="submitButton" th:action="@{/logout}" method="post">
			<input type="submit" class="btn btn-outline-dark" value="ログアウト" name="logout" />
		<a th:href="@{/home}" type="button" class="btn btn-outline-secondary">戻る</a>
		</form>
		<hr />
		<form class="submitButton" th:action="@{/user}" method="post">
		<a th:href="@{/user/setting}" type="button" class="btn btn-outline-primary">可燃ごみ等の設定</a>
		<a th:href="@{/user/nonBurnable}" type="button"	class="btn btn-outline-info">不燃ごみの設定</a>
			<input type="submit" class="btn btn-outline-success" value="すべて削除" name="allDel" />
		</form>
	
		<th:block th:if="${todayGarbage}">
			<table class="design04">
				<thead>
					<tr>
						<th class="midashi">ゴミ出しカレンダー</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d:${dateAndGarbage}">
						<td th:text="${d}"></td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</div>
</body>
</html>