@charset "UTF-8";

html {
  max-width: 70ch;
  /*padding: 3em 1em;*/
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
body{
	background-color:#eee;
}
h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}
p,ul,ol {
  width: 80%;
  color: #1d1d1d;
  font-family: sans-serif;
}
.design04 {
 width: 80%;
 text-align: left;
 border-collapse: collapse;
 border-spacing: 0;
 margin: 5px auto 5px;
}
.design04 tr:nth-child(2n+1) {
 background: #ddd;
}
.design04 th {
 padding: 10px;
 background: #778ca3;
 border-right: solid 1px #778ca3;
 color: #ffffff;
}
.design04 th:last-child {
 border-right: none;
}
.design04 td {
 padding: 10px;
 border-right: solid 1px #778ca3; 
}
.design04 td:last-child {
 border-right: none;
}
.submitButton{
	display: inline;
	margin: 5px auto;
}

