<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<form th:action="@{/login}" method="post" th:object="${user}"
			class="form-signin">
			<h1 class="form-signin-heading">Please log in</h1>
			<p class="alert alert-danger" th:errors="*{loginId}"></p>
			<p class="alert alert-danger" th:errors="*{loginPass}"></p>
			<p class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}"
				th:each="e : ${#fields.globalErrors()}" th:text="${e}"></p>
			<p class="alert alert-success" th:if="${logoutMsg}"
				th:text="${logoutMsg}"></p>
			<div class="child-container">
				<p>
					<input id="username" type="text" placeholder="ID"
						th:field="*{loginId}" class="form-control" autofocus>
				</p>
				<p>
					<input id="password" type="password" placeholder="Password"
						th:field="*{loginPass}" class="form-control" title="記号も使えます">
				</p>
				<button class="btn btn-lg btn-primary btn-block " type="submit">Log
					in</button>
			</div>
		</form>
	</div>
</body>
</html>
