<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<form th:action="@{/login}"method="post" th:object="${user}" class="form-signin">
			<h1 class="form-signin-heading">Please log in</h1>
			<p>
				<label for="username" class="sr-only">Username</label>
				<input id="username" type="text" th:field="*{loginId}" class="form-control" autofocus >
			</p>
			<p>
				<label for="password" class="sr-only">Password</label>
				<input id="password" type="password" th:field="*{loginPass}" class="form-control">
			</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
		</form>
	</div>
</body>
</html>
