<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Register</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Register</h1>
	<form th:action="@{/register}" method="post" th:object="${user}">
		<p th:errors="*{loginId}" class="alert alert-danger"></p>
		<p>
			ID：<br /><input type="text" th:field="*{loginId}" />
		</p>
		<p th:errors="*{loginPass}" class="alert alert-danger"></p>
		<p>
			パスワード：<br /><input type="password" th:field="*{loginPass}" />
		</p>
		<p th:errors="*{name}" class="alert alert-danger"></p>
		<p>
			お名前：<br /><input type="text" th:field="*{name}" />
		</p>
	<!-- 権限のフォームも作る -->
		<input type="submit" class="submitButton btn btn-outline-dark" value="登録" />
	<a href="/home" type="button" class="btn btn-outline-secondary">戻る</a>
	</form>
</body>
</html>