<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User page</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>User page</h1>
	<table>
		<tr>
			<th>年月日</th>
			<th>ゴミ</th>
		</tr>
		<tr th:each="i : ${#numbers.sequence(0,30)}">
			<td th:text="${#temporals.format(today.plusDays(i),'yy年MM月dd日(E)')}"></td>
			<!-- 曜日ごとのゴミの種類を表示する -->
		</tr>
	</table>

	<a href="/home">戻る</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト" />
	</form>
</body>
</html>