<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>User page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>User page</h1>
	<p>
		<span sec:authentication="principal.name"></span>さん
		<th:block th:if="${todayGarbage}" th:text="|、${todayGarbage}|">
		</th:block>
		<th:block th:unless="${todayGarbage}">
		、ゴミ出しカレンダーが未登録です。
		</th:block>
	</p>
	<form class="submitButton" th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-outline-dark" value="ログアウト" />
	</form>
	<a href="/home" type="button" class="btn btn-outline-secondary">戻る</a>
	<th:block th:if="${todayGarbage}">
		<table class="design04">
			<tr>
				<th>ゴミ出しカレンダー</th>
			</tr>
			<tr th:each="d:${dateAndGarbage}">
				<td th:text="${d}"></td>
			</tr>
		</table>
	</th:block>
</body>
</html>